.btn {
    position: relative;
    font-size: 1.8rem;
    border: 2px solid $off-white;
    overflow: hidden;
    border-radius: $b-radius;
    display: block;
    margin-top: 2rem;
    transition: $transition;
    
    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: $transition;
    }
    
    &__visible {
        padding: 1.5rem 3rem;
    }
    
    &__invisible {
        position: absolute;
        top: -100%;
        left: 0;    
        background-color: $off-white;
        color: #333;
        padding: 1.5rem 2.5rem;
    }

    &:hover,
    &:focus {
        box-shadow: 0 1rem 2rem $color-shadow;
        transform: translateY(-3px);
        outline: none;    
    }

    &:active {
        box-shadow: 0 .5rem 1rem $color-shadow;
        transform: translateY(-1px);
    }

    &:hover &__invisible {
        top: 0;
    }

    &:hover &__visible {
        transform: translateY(100%);
    }
}

.btn-text {
    border: none;
    font-size: inherit;
    padding: .5rem;
    color: rgba($off-white, .65);
    @include b-bottom(transparent);
    transition: $transition;

    &:not(:last-child) {
        margin-right: 2rem;
    }
    
    &--active {
        color: inherit;
    }

    &:focus,
    &:hover {
        outline: none;
        @include b-bottom(currentColor);
    }
}