.form {

    &__group {

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__input {
        background: rgba($off-white, .01);
        border: none;
        @include b-bottom(transparent);
        color: inherit;
        font-family: inherit;
        padding: 1.5rem 3rem;
        font-size: inherit;
        text-transform: inherit;
        letter-spacing: inherit;
        width: 100%;

        &:focus {
            outline: none;
            @include b-bottom($off-white);

            &:invalid {
                @include b-bottom($color-error);
            }
        }
    }

    &__label {
        font-size: $font-sm;
        margin-left: 3rem;
        margin-top: .5rem;
        display: block;
        transition: all .3s;
    }
    
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    } 

    &__btn {
        margin: 0 auto;
    }
}

.error {
    color: $color-error;
    margin-left: 2rem;
    font-size: $font-sm;
    font-weight: bold;
}