.forecast {
    grid-column: 1 / -1;
    background-color: rgba($off-white, .5);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    grid-gap: 3rem;

    &__day {
        display: flex;
        flex-direction: column;

        & > *:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}