.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-frosted;
    
    @media only screen and (max-width: $bp-xs) {
        flex-direction: column;
        align-items: start;
    }
    
    &__title {
        font-weight: 400;
        font-size: 3rem;
    }

    &__date {
        font-weight: 400;
    }

    @supports(-webkit-background-clip: text) {
        color: transparent;

        &__title,
        &__date {
            background-image: url('../img/bg.jpg');
            background-size: cover;
            -webkit-background-clip: text;
        }
    }
}
